div#main {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#videoStreamDiv {
  min-width: 600px;
  min-height: 450px;
  border: solid #BE5BDE 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video#videoStream {
  width: 600px;
  height: 450px;
}
