div#main {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#videoStreamDiv {
  min-width: 600px;
  min-height: 450px;
  border: solid rgb(255, 0, 255) 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video#videoStream {
  width: 600px;
  height: 450px;
}

div#hud {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 0, 255, 0.2);
}
